        /* BB-gun */
        .twin-457-mka {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/3/3a/14500.png/90px-14500.png');
            --gear-bg: var(--bg-rainbow);
        }

        .quad-305-skc {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/8/8a/44320.png/90px-44320.png');
            --gear-bg: var(--bg-rainbow);
        }

        .triple-406-mkii {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/8/80/24400.png/90px-24400.png');
            --gear-bg: var(--bg-rainbow);
        }

        .twin-406-mk4 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/3/32/14520.png/60px-14520.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-380-skc {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/d/d7/44500.png/60px-44500.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-380-mle {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/a/a6/50480.png/60px-50480.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-406-mle {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/2/2a/51000.png/60px-51000.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-381-mkiii {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/7/78/24160.png/60px-24160.png');
        }

        .triple-406-mk6 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/9/9b/14300.png/60px-14300.png');
            --gear-bg: var(--bg-purple);
        }

        /* CL-gun */
        .quad-152 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/3/37/22280.png/90px-22280.png');
            --gear-bg: var(--bg-rainbow);
        }

        .triple-180-b1pi {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/e/e3/85640.png/60px-85640.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-152-mkxxv {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/5/5e/22260.png/60px-22260.png');
            --gear-bg: var(--bg-yellow);
        }

        .twin-150-tbtsk {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/d/d5/42360.png/60px-42360.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-180-b1p {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/a/a7/85460.png/60px-85460.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-155-t3k {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/7/73/32260.png/60px-32260.png');
            --gear-bg: var(--bg-yellow);
        }

        .triple-155-t3 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/0/04/32200.png/60px-32200.png');
            --gear-bg: var(--bg-yellow);
        }

        /* Fighter */
        .f4u-vf17 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/f/f7/17260.png/128px-17260.png');
            --gear-bg: var(--bg-yellow);
        }

        .xf5u-ff {
            --gear-img: url('https://azurlane.netojuu.com/images/c/c4/17420.png');
            --gear-bg: var(--bg-yellow);
        }

        .f7f-tigercat {
            --gear-img: url('https://azurlane.netojuu.com/images/4/47/17360.png');
            --gear-bg: var(--bg-yellow);
        }

        .f6f-hellcat {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/0/0d/17300.png/128px-17300.png');
            --gear-bg: var(--bg-yellow);
        }

        .bf-109g-cb {
            --gear-img: url('https://azurlane.netojuu.com/images/e/ee/47160.png');
            --gear-bg: var(--bg-yellow);
        }

        .la-9-cb {
            --gear-img: url('https://azurlane.netojuu.com/images/3/34/85600.png');
            --gear-bg: var(--bg-rainbow);
        }

        .f6f-hvar {
            --gear-img: url('https://azurlane.netojuu.com/images/0/0c/17440.png');
            --gear-bg: var(--bg-yellow);
        }

        /* torp bomber */
        .spearfish {
            --gear-img: url('https://azurlane.netojuu.com/images/5/5f/28420.png');
            --gear-bg: var(--bg-rainbow);
        }

        .wyvern {
            --gear-img: url('https://azurlane.netojuu.com/images/e/e9/28400.png');
            --gear-bg: var(--bg-rainbow);
        }

        .br810 {
            --gear-img: url('https://azurlane.netojuu.com/images/6/6a/51240.png');
            --gear-bg: var(--bg-yellow);
        }

        .barracuda {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/0/06/28100.png/128px-28100.png');
            --gear-bg: var(--bg-yellow);
        }

        .saiun-t21 {
            --gear-img: url('https://azurlane.netojuu.com/images/f/f1/38300.png');
            --gear-bg: var(--bg-yellow);
        }

        /* AA-gun */
        .twin-76-mk37 {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/3/31/16480.png/90px-16480.png');
            --gear-bg: var(--bg-rainbow);
        }

        .twin-134-mki-tf {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/f/f6/26680.png/90px-26680.png');
            --gear-bg: var(--bg-yellow);
        }

        .staag {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/1/18/26600.png/90px-26600.png');
            --gear-bg: var(--bg-yellow);
        }

        .twin-134-mki {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/b/bf/21500.png/60px-21500.png');
            --gear-bg: var(--bg-yellow);
        }

        .twin-40-haze {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/2/2f/26620.png/60px-26620.png');
            --gear-bg: var(--bg-yellow);
        }

        /* Aux */
        .afct {
            --gear-img: url('https://azurlane.netojuu.com/images/c/c4/3580.png');
            --gear-bg: var(--bg-rainbow);
        }

        .hpfcr {
            --gear-img: url('https://azurlane.netojuu.com/images/3/3e/1260.png');
            --gear-bg: var(--bg-yellow);
        }

        .t1-apc {
            --gear-img: url('https://azurlane.netojuu.com/images/4/43/600.png');
            --gear-bg: var(--bg-yellow);
        }

        .shs {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/8/8a/620.png/128px-620.png');
            --gear-bg: var(--bg-yellow);
        }

        .npov {
            --gear-img: url('https://azurlane.netojuu.com/images/7/76/880.png');
            --gear-bg: var(--bg-yellow);
        }

        .steam-cata {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/9/96/1400.png/128px-1400.png');
            --gear-bg: var(--bg-yellow);
        }

        .frontier-medal {
            --gear-img: url('https://azurlane.netojuu.com/images/2/22/820.png');
            --gear-bg: var(--bg-yellow);
        }

        .autoloader {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/4/4e/2200.png/128px-2200.png');
            --gear-bg: var(--bg-purple);
        }

        .homing-beacon {
            --gear-img: url('https://azurlane.netojuu.com/images/2/24/680.png');
            --gear-bg: var(--bg-purple);
        }

        .aviation-gas {
            --gear-img: url('https://azurlane.netojuu.com/images/d/d4/660.png');
            --gear-bg: var(--bg-purple);
        }

        /* ASW */
        .tbm-vt-51 {
            --gear-img: url('https://azurlane.netojuu.com/images/f/fb/4360.png');
            --gear-bg: var(--bg-yellow);
        }

        .tbm-asw {
            --gear-img: url('https://azurlane.netojuu.com/images/d/d8/4300.png');
            --gear-bg: var(--bg-purple);
        }

        .swordfish-asw {
            --gear-img: url('https://azurlane.netojuu.com/images/4/4e/4200.png');
            --gear-bg: var(--bg-purple);
        }

        /* Augment */
        .bowgun {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/9/90/1060200.png/90px-1060200.png');
            --gear-bg: var(--bg-purple);
        }

        .officers-sword {
            --gear-img: url('https://azurlane.netojuu.com/images/thumb/7/77/1060100.png/90px-1060100.png');
            --gear-bg: var(--bg-purple);
        }

        .hunting-bow {
            --gear-img: url('https://azurlane.netojuu.com/images/9/90/1070100.png');
            --gear-bg: var(--bg-purple);
        }

        .scepter {
            --gear-img: url('https://azurlane.netojuu.com/images/3/31/1070200.png');
            --gear-bg: var(--bg-purple);
        }